html{
	background-color: #4BC6FE;
}

h1 {
	font-size: 50px;
	font-family: "Roboto"
}

h2 {
	font-size: 30px;
	font-family: "Roboto"
}

p {
	font-size: 20px;
}

a {
	color: white
}

#maintitle {
	font-weight: 700;
	font-size: 20px;
}

.body {
 visibility: hidden;
 font-family: 'Roboto';
 font-weight: 400;;
 color: white;
 max-width: 1000px;
 position: absolute;
 top: 10%;
 bottom: 50%;

 margin: auto;
 max-height: 600px;
 padding-left: 100px;
 padding-right: 20px;
 padding-bottom: 40px;
}
